<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order!</h1>
    <p>
      Here's everything your purchased:<br>
      <% @line_items.each do |item| %>
        <% current_product = get_product item.product_id %>
        <p><%= current_product.name %></p>
      <% end %>
    </p>
    <p>
      Your order total is: <%= @order_total %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
