<tr>
  <td>
    <p><%= review.description %></p>
  </td>
  <td>
    <p><%= review.rating %> / 5</p>
  </td>
  <td>
    <% if user && user.id == review.user_id %>
      <%= button_to "Delete", product_review_path(review.product_id, review.id), method: :delete, class: "btn btn-danger"%>
    <% end %>
  </td>
</tr>
